/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.combined-Auth-content
.combined-Auth-input {
  font-family: "Poppins", sans-serif;
}

.combined-Auth-container {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
}

.combined-Auth-forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.combined-Auth-signin-signup {
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  left: 80%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.combined-Auth-signin-signup-sign-up-mode {
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
  left: 40%;
  width: 50%;
  transition: 1s 0.5s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.combined-Auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.combined-Auth-sign-up-form {
  transition: 1s 0.7s ease-in-out;
  opacity: 0;
  z-index: 1;
}

form.combined-Auth-sign-in-form {
  transition: 1s 0.7s ease-in-out;
  z-index: 2;
}

form.combined-Auth-sign-up-form-sign-up-mode {
  transition: 0.5s 0.7s ease-in-out;
  opacity: 1;
  z-index: 2;
}

form.combined-Auth-sign-in-form-sign-up-mode {
  transition: 0.5s 0.7s ease-in-out;
  opacity: 0;
  z-index: 1;
}


.combined-Auth-title {
  font-size: 3.7rem;
  font-weight: 600;
  color: #3c3c3c;
  margin-bottom: 10px;
}

.combined-Auth-input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.combined-Auth-input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.combined-Auth-input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 500;
  font-size: 2rem;
  color: #333;
}

.combined-Auth-input-field input::placeholder {
  color: #8d8d8d;
  font-weight: 500;
}

.done-box{
  background-color: #f0f0f0;
  margin: 5% 45%;
  margin-left: 100px;
  border-radius: 20px;
  text-align: center;
  padding: 3.5%;
  width: 25%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.done-box p{
  color: black;
  font-weight: 600;
  font-size: 1000;
}

.loader-wrapper {
  display: flex;
  align-items: center; /* Vertically center the content */
}

/* Style for the loader */
.loader-wrapper .react-spinner-loader {
  margin-right: 10px; /* Adjust the margin to control the space between the loader and the text */
}

.combined-Auth-btn-loading {
  width: 150px;
  background-color: hsl(142, 76%, 36%);
  /* background-color: #5995fd; */
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  padding-left: 15px; /* Adjust the left padding to your desired value */
}

.combined-Auth-btn {
  width: 150px;
  background-color: hsl(142, 76%, 36%);
  /* background-color: #5995fd; */
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.combined-Auth-btn:hover {
  /* background-color: #3a72d3; */
  background-color: hsl(142, 72%, 29%);
}

.combined-Auth-panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.combined-Auth-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  /* background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%); */
  background-image: linear-gradient(-45deg, hsl(142, 76%, 36%) 0%, hsl(142, 72%, 29%) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.combined-Auth-image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.combined-Auth-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.combined-Auth-left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.combined-Auth-right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.combined-Auth-panel .combined-Auth-content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
  text-align: center;
}

.combined-Auth-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}


.combined-Auth-panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2.8rem;
}

.combined-Auth-panel p {
  font-size: 2rem;
  padding: 0.7rem 0;
}

.combined-Auth-transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 150px;
  height: 45px;
  font-weight: 600;
  font-size: 1.5rem;
}

.combined-Auth-right-panel .combined-Auth-image,
.combined-Auth-right-panel .combined-Auth-content {
  transform: translateX(800px);
}

/* ANIMATION */

.combined-Auth-sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.combined-Auth-sign-up-mode .combined-Auth-left-panel .combined-Auth-image,
.combined-Auth-sign-up-mode .combined-Auth-left-panel .combined-Auth-content {
  transform: translateX(-1000px);
}

.combined-Auth-sign-up-mode .combined-Auth-right-panel .combined-Auth-image,
.combined-Auth-sign-up-mode .combined-Auth-right-panel .combined-Auth-content {
  transform: translateX(0%);
}

.combined-Auth-sign-up-mode .combined-Auth-left-panel {
  pointer-events: none;
}

.combined-Auth-sign-up-mode .combined-Auth-right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .combined-Auth-container {
    min-height: 800px;
    height: 100vh;
  }
  .combined-Auth-signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .combined-Auth-signin-signup,
  .combined-Auth-container.combined-Auth-sign-up-mode .combined-Auth-signin-signup .container.sign-up-mode{
    left: 50%;
  }

  .combined-Auth-panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .combined-Auth-panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .combined-Auth-right-panel {
    grid-row: 3 / 4;
  }

  .combined-Auth-left-panel {
    grid-row: 1 / 2;
  }

  .combined-Auth-image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .combined-Auth-panel .combined-Auth-content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .combined-Auth-panel h3 {
    font-size: 1.2rem;
  }

  .combined-Auth-panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .combined-Auth-btn .combined-Auth-transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .combined-Auth-btn:focus { outline: none; } 

  .combined-Auth-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .combined-Auth-container.combined-Auth-sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .combined-Auth-container.combined-Auth-sign-up-mode .combined-Auth-left-panel .combined-Auth-image,
  .combined-Auth-container.combined-Auth-sign-up-mode .combined-Auth-left-panel .combined-Auth-content {
    transform: translateY(-300px);
  }

  .combined-Auth-container.combined-Auth-sign-up-mode .combined-Auth-right-panel .combined-Auth-image,
  .combined-Auth-container.combined-Auth-sign-up-mode .combined-Auth-right-panel .combined-Auth-content {
    transform: translateY(0px);
  }

  .combined-Auth-right-panel .combined-Auth-image,
  .combined-Auth-right-panel .combined-Auth-content {
    transform: translateY(300px);
  }

  .combined-Auth-container.combined-Auth-sign-up-mode .combined-Auth-signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .combined-Auth-form {
    padding: 0 1.5rem;
  }

  .combined-Auth-image {
    display: none;
  }
  .combined-Auth-panel .combined-Auth-content {
    padding: 0.5rem 1rem;
  }
  .combined-Auth-container {
    padding: 1.5rem;
  }

  .combined-Auth-container:before {
    bottom: 72%;
    left: 50%;
  }

  .combined-Auth-container.combined-Auth-sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
