.view-property {
    margin-top: 80px;
    padding: 2rem;
    color: black;
    background-color: white;
  }
  .Section-Wrapper{
    justify-content: center;
  }
  .Wrapper{
    max-width: 70%;
    margin: 0 auto;
  }
  
  .heading {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }
  
  .details {
    margin-bottom: 2rem;
  }
  
  .name {
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
  }
  
  .location {
    font-size: 1.8rem;
    color: #777;
    margin-bottom: 1rem;
  }
  
  .location i {
    margin-right: 0.5rem;
  }
  
  .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.loading-container span {
  margin-top: 10px; 
  color: #6e82c4; 
}

  .info p {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  
  .info p i {
    margin-right: 0.5rem;
  }
  
  .info p a {
    color: #0f0f0f;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  
  .box {
    flex: 1;
    margin-right: 1rem;
  }
  
  .box p {
    color: #777;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  fa{
    display: flex;
    align-items: center;
  }

  .box p i {
    margin-right: 10px; 
    margin-left: 10px; 
  }
  .description {
    margin-bottom: 2rem;
  }
  
  .flex-btn {
    display: flex;
    align-items: center;
  }

  
  .save,
  .save.saved {
    background-color: #f44336;
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    width: 100px;
    border-radius: 40px;
    margin-right: 1rem;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .save.saved {
    background-color: #4caf50;
  }
  
  .save i {
    margin-right: 0.5rem;
  }
  
  .view_prop_btn {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 40px;
    width: 200px;
  }
  
  .swiper-container {
    width: 100%;
    height: 400px;
    margin-bottom: 1.5rem;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination {
    bottom: 0;
  }
  
  .swiper-pagination-bullet {
    background-color: #bbb;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #f44336;
  }
  